@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Rubik+Spray+Paint&family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    font-family: "Shantell Sans", cursive;
    font-weight: bold;
}

.wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  
    background: rgba(179,220,237,1);
    background: -moz-linear-gradient(-45deg, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 18%, rgba(188,224,238,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(179,220,237,1)), color-stop(18%, rgba(41,184,229,1)), color-stop(100%, rgba(188,224,238,1)));
    background: -webkit-linear-gradient(-45deg, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 18%, rgba(188,224,238,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 18%, rgba(188,224,238,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 18%, rgba(188,224,238,1) 100%);
    background: linear-gradient(135deg, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 18%, rgba(188,224,238,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#bce0ee', GradientType=1 );
  }
  
  .main {
    height: 55vh;
    /*background: #2a6bb1;*/
    background-image: url('img/clouds.jpg');
    background-size: cover;
    box-shadow: 0px 0px 50px 10px rgba(62, 72, 105, 0.8);
    width: 60%;
    margin: 0 auto;
    background-blend-mode: multiply;
    background-color: #484747;
    border: 2px solid #1f1f1f;
    border-right: 2px solid #131e29;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgb(230, 223, 223);
  }
  
  
  .form {
    height: 55vh;
    padding-top: 100px;
    padding-left: 50px;
    border-top: 2px solid #113a65;
    border-bottom: 2px solid #113a65;
    border-right: 2px solid #113a65;
  }
  
  input[type="text"] {
    background-color: transparent;
    border: 0;
    border-bottom: solid 2px #113a65;
    width: 50%;
    padding-bottom: 4px;
    color: #fff;
    font-weight: lighter;
    margin-bottom: 30px;
    margin-right: 20px;
    font-size: 20px;
    outline: none;
  }
  
  input::-webkit-input-placeholder {
    color: #103a65;
  }
  
  input::-moz-placeholder {
    color: #103a65;
  }
  
  button {
    border: 2px solid #103a65;
    border-bottom: 4px solid #103a65;
    padding: 8px 20px;
    margin: 0 2px;
    border-radius: 15px;
    cursor: pointer;
    background-color: #235d9c;
    color:  rgb(230, 223, 223);
    outline: none!important;
    font-weight: bolder;
  }
  
  button:hover {
    border-bottom: 2px solid #103a65;
    position: relative;
    top: 2px;
  }
  
  button:active {
    border-bottom: 2px solid transparent;
    border-color: transparent;
    position: relative;
    top: 2px;
  }
  
  
  .infoWeath {
    width: 60%;
    font-size: 16px;
    text-align: left;
    color:  rgb(230, 223, 223);
  }
  
  .error {
    color:  rgb(230, 223, 223);
    font-weight: bold;
    font-size: 16px;
  }